/*
 * Globals
 */
#products {
  width:100%;
  height: 100%;
}
.modal-content {
  height: 90%;
}
.modal-body {
  height:90%;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.modal-lg {
  height: 100% !important;
}

/*
 * Base structure
 */

html,
body {
  background-color: #fff;
  height: 100%; 
  width:100%;
}
body {
  height: 100%;
  text-align: center;
  position:relative;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: auto;
 /* For at least Firefox */
  -webkit-box-shadow: inset 0 0 10 rgba(0,0,0,.5);
          box-shadow: inset 0 0 10 rgba(0,0,0,.5);
  margin:0px;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  position:relative !important;
  text-align: right;
  height: 100%;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.well {
  text-align: left;
  color:4C4C4C;
  margin-top:20px;
  width:100%;
  font-family:Lucida Grande,Arial,Helvetica,sans-serif
  font-size: 0.9em;
}
#table-border:hover>img {
    -webkit-transition-duration:0.5s;
    transition-duration: 0.5s;
    opacity:0.8;
    z-index: 1;
}
#table-border:hover>div {
  display :block;
  opacity:1.0;
  z-index: 2;
  -webkit-transition-duration:0.5s;
    transition-duration: 0.5s;
}
#table-border>div {
   
    /* background-color: rgba(226, 61, 39, 0.7); */
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 5%;
    left: 20px;
    padding: 20px;
    -webkit-transition: opacity 0.5s linear;

}
#table-border:hover> img {
    -webkit-filter: grayscale(30%);
   -webkit-transform: translateZ(0);
    opacity: .5;
    -webkit-transition-duration:0.5s;
    transition-duration: 0.5s;
}
/* images */

.rollovertitle-silver {
    font-family: "dapifer", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    text-indent: 60%;
    border-radius: 30;
    color:#ffffff;
    opacity: 0.6;
   -webkit-font-smoothing: antialiased;
    background-color:hotpink;
    height: 100%;
    line-height: 5;
    padding-bottom: 100px;
    z-index: 0.5;

}
.rollovertitle-bronze {
    font-family: "dapifer", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    text-indent: 60%;
    border-radius: 30;
    color:#ffffff;
    opacity: 0.7;
   -webkit-font-smoothing: antialiased;
    background-color:rgba(226,61,39,0.7);
    height: 100%;
    line-height: 5;
    padding-bottom: 100px;
        z-index: 0.5;
}
.rollovertitle-men {
    font-family: "dapifer", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    text-indent: 60%;
    border-radius: 30;
    color:#ffffff;
    opacity: 0.5;
   -webkit-font-smoothing: antialiased;
    background-color:dodgerblue;
    height: 100%;
    line-height: 5;
    padding-bottom: 100px;
        z-index: 0.5;
}
#pgimg {
  width:100%;
  position: relative;
  float: left;
}
.embed-responsive {
  width:100%;
  position: relative;
  padding-bottom:30% !important;
}
.title {
  float: left;
  margin: 3%;
  display: block;
  position: relative;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  text-align: right;
  position: relative;
}
.form-group {
  float: left;
  position:relative;
}
#gallery-pics {
  width:100%;
  height:80%;
  opacity:1;
  border-radius: 20;
  overflow: hidden;
  position: relative;
}
.gallery-table {
  width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#table-border {
  max-height:30%;
  min-height:30%;
  min-width:30%;
  max-width:80%;
  padding-bottom:10px;
  overflow:hidden;
  border-style:hidden;
}
#pic-container {
  margin-left:30px;
  width:100%;
}

/*
 * photo_list
 */

 #gallery{
 width:100%;
 margin:3% 3% 3% 3%;
        box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

    #gallery h1 {text-align:center;}
    #gallery img {width:80%;

    }
    #photo {
      text-align:center;

    }
    #photo img { 
      border-radius: 30;
/*     box-shadow:3px 8px 12px 5px rgba(0,0,0,0.3); */
      height:auto;
      width:100%;

}
    #photo_list ul {
     width:100%; 
     height:100%;
     margin:0px 0px; 
     overflow:auto; 
     padding:0px;
}
    #photo_list ul li {
      width:30%; 
      height:auto;
      margin: 0px 2px;
      position:relative; 
      float:left; 
      text-align:center;
      padding:0px;
      border-radius: 30;

}
    #photo_list ul li a img {
      width:100%; 
      height:auto;
      margin:0px;
      padding:0px;
      border-radius: 20;
    }
    #photo_list {
      width:100%; 
      height: 100%;
      margin:5px auto; 
      overflow:auto; 
      padding:0;

    }

  #photo_list ul li:hover {
    opacity:0.7;
    box-shadow:3px 8px 12px 5px rgba(0,0,0,0.3);
     border-radius: 20;
} 


/*
 * Header
 */

.masthead {
  z-index: 3;
  position: fixed;
  width: 100% !important;
  text-shadow: 0 2px 3px rgba(0,0,0,.8);

}
.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: green;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: red;
}
.brand {
position: absolute;
float: left;
}
.brand>img {
  width:50%;
  float: left;
  margin:30px;
}
.nav>.open>a {
  background-color: transparent !important;
}
.dropdown-menu {
  background-color: transparent !important;
  text-align: left;
  border:none;
  box-shadow: none;
}
.dropdown-menu>li>a {
  color:silver;
    text-shadow: 0 2px 3px rgba(0,0,0,.8);
  background-color: transparent !important;
}
.dropdown-menu>.active>a {
  background-color: transparent !important;
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

.dropdown-submenu:hover>.dropdown-menu{
  display:block;
}
.dropdown-menu .scroll-link:hover {
  color:white !important;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  text-align: left;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover-heading {
    color:grey;
    text-shadow: 2px 4px 5px rgba(0,0,0,.3);
}
.lead {
   color:silver;
}
.site-wrapper {
  margin:0px;
}

.contact-form {
  padding-bottom: 0px;
  margin-top: 30px;
}
.link-btn>a {
  width: 100%;
  font-weight: bold;
  float:center;
  background-color: lightgrey;
}
.link-btn > a:hover,
.link-btn > a:focus,
#submit:hover,
#submit:focus {
  background-color: darkred;
  color: white;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 320px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .masthead-nav>li>a
   {
    font-size: 11px;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    text-align: right;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
    .masthead-nav>li>a
   {
    font-size: 16px;
    
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
    .site-wrapper {
    height: 60%;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .site-wrapper {
    height: 100%;
  }
}
