#footer {
     text-align: Center;
     width:100%;
     margin-top:3px;
     margin-bottom: 3px;
}
#copyright {
	color:black;
	font-size: 0.9em;
	font-family:Lucida Grande,Arial,Helvetica,sans-serif;
}
#copyright-white {
  color:white;
  font-size: 0.9em;
  font-family:Lucida Grande,Arial,Helvetica,sans-serif;
}

.breadcrumb {
  background-color:1E1E1E;
  margin-bottom: 3px;
}
#header-menu {
	margin-top:0px;
	position:fixed;
	width:100%;
}
.breadcrumb>li>a {
	color:lightgrey
}
li style{
	text-align: right;
}
.well {
  text-align: left;
  color:4C4C4C;
  margin-top:20px;
  width:100%;
  font-family:Lucida Grande,Arial,Helvetica,sans-serif
  font-size: 0.9em;
}
.jumbotron {
background-image: url(images/armonia.jpg);
background-repeat: no-repeat;
background-color:1E1E1E;
background-size: 1400px;
background-position: center;
margin-top:6%;
padding-top:2%;
margin-bottom:5px;
height: 70%;
border-radius: 30;
}
.jumbotron:hover {
background-image: url(images/armonia.jpg);
background-repeat: no-repeat;
background-color:1E1E1E;
background-size: 1500px;
background-position: center;
margin-top:6%;
padding-top:2%;
margin-bottom:5px;
height: 70%;
border-radius: 30;
opacity:0.5;

}
  #navleft {
    border-left: 50px;
  }
  .media-heading {
    color:black;
    font-style: bold;
    font-size :16px;
    padding-top: 20px;
    margin-right: 10px;
    overflow:hidden;
  }
  .media {
    margin-left:20px;
    margin-bottom: 20px;
  } 

  #logo-white {
    max-width:330px;
    min-width:10px;
    height: auto;
    width:100%;
    padding-top: 10px;
  }
div {
    -webkit-transition-delay: 0.03s; /* Safari */
    transition-delay: 0.03s;
    -webkit-transition-duration:0.1s;
    transition-duration: 0.1s;

}
br {
  font-size: 10px;
}
#media-row {
  max-height:140px;
  width:auto;
  height:100%;
  padding:0px;
  border:0px;
}
.media-heading {
    border-radius:20;
}
#Firenze {
  width:100px;
}
#media-row:hover {
  .img-display=this.src
}
#header-menu {
  z-index: 10;
}
#key-img {
  max-width: 100%;
}
#gallery-pics {
  width:90%;
  height:100%;
  opacity:0.9;
  border-radius: 20;
  overflow: hidden;
  
}
#gallery-pics:hover {
    width:100%;
    -webkit-transition-duration:0.1s;
    transition-duration: 0.1s;
    opacity:1;
}

#gallery-table {
  width: 100%;
}
#table-border {
  max-height:30%;
  min-height:30%;
  min-width:30%;
  max-width:80%;
  padding-bottom:10px;
  overflow:hidden;
  margin:1px;
  border-style:hidden;
}
#pic-container {
  margin-left:30px;
  width:100%;
  min-height: 90%;
}