#footer {
     text-align: Center;
     width:100%;
     margin-top:70px;
     margin-bottom: 3px;
}
#copyright {
	color:black;
	font-size: 0.9em;
	font-family:Lucida Grande,Arial,Helvetica,sans-serif;
}
#copyright-white {
  color:white;
  font-size: 0.9em;
  font-family:Lucida Grande,Arial,Helvetica,sans-serif;
}

.breadcrumb {
  background-color:1E1E1E;
  margin-bottom: 3px;
  text-align: center;
}
#header-menu {
	margin-top:0px;
	position:fixed;
	width:100%;
}
.breadcrumb>li>a {
	color:lightgrey
}
li style{
	text-align: right;
}
.well {
  text-align: left;
  color:4C4C4C;
  margin-top:20px;
  width:100%;
  font-family:Lucida Grande,Arial,Helvetica,sans-serif
  font-size: 0.9em;
}
.jumbotron {
background-image: url(images/armonia.jpg);
background-repeat: no-repeat;
background-color:1E1E1E;
background-size: 1400px;
background-position: center;
margin-top:6%;
padding-top:2%;
margin-bottom:5px;
height: 70%;
border-radius: 30;
}
.jumbotron:hover {
background-image: url(images/armonia.jpg);
background-repeat: no-repeat;
background-color:1E1E1E;
background-size: 1500px;
background-position: center;
margin-top:6%;
padding-top:2%;
margin-bottom:5px;
height: 70%;
border-radius: 30;
opacity:0.5;

}
  #navleft {
    border-left: 50px;
  }
  .media-heading {
    color:black;
    font-style: bold;
    font-size :16px;
    padding-top: 20px;
    margin-right: 10px;
    overflow:hidden;
  }
  .media {
    margin-left:20px;
    margin-bottom: 20px;
  } 

  #logo-white {
    max-width:330px;
    min-width:10px;
    height: auto;
    width:100%;
    padding-top: 10px;
  }
div {
    -webkit-transition-delay: 0.03s; /* Safari */
    transition-delay: 0.03s;
    -webkit-transition-duration:0.1s;
    transition-duration: 0.1s;
}
br {
  font-size: 10px;
}
#media-row {
  max-height:140px;
  width:auto;
  height:100%;
  padding:0px;
  border:0px;
}
.media-heading {
    border-radius:20;
}
#Firenze {
  width:100px;
}
#media-row:hover {
  .img-display=this.src
}
#header-menu {
  z-index: 10;
}
#key-img {
  max-width: 100%;
}
#menu {
  min-width:200px;
}
#gallery-pics {
  width:95%;
  height:80%;
  opacity:1;
  border-radius: 20;
  overflow: hidden;
  
}
#gallery-pics:hover {
    width:100%;
    -webkit-transition-duration:0.1s;
    transition-duration: 0.1s;
    opacity:0.9;
    z-index: 1;
    position:relative;
}
#color-brick {
  opacity:0.4;
  min-width:14%;
  max-width: 30%;
  width:auto;
  min-height:2%;
  height:auto;
  border-spacing: 3px;
  margin-left:2px;
  margin-bottom:3px;
  margin-top:2px;
  border-radius: 3;
}
#color-brick:hover {
    -webkit-transition-duration:0.1s;
    transition-duration: 0.1s;
    opacity:0.9;
    z-index: 1;
}
#gallery-table {
  width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#table-border {
  max-height:30%;
  min-height:30%;
  min-width:30%;
  max-width:80%;
  padding-bottom:10px;
  overflow:hidden;
  border-style:hidden;
}

#pic-container {
  margin-left:30px;
  width:100%;
  min-height: 90%;

}
.item>img{ width: 100%;
            margin:1px;
            padding:0%;
}
.item.w2>img { width: 100%;
            margin:1px;
            padding:0%;
}
.item.w3>img {width: 100%;
            margin:1px;
            padding:0%;
}
.item.w4>img {width: 100%;
            margin:1px;
            padding:0%;
}         

.item {
  width:28%;
   }
.item.w2{
  width:14%;
   }
.item.w3{
  width:28%; 
   }
.item.w4{
  width:14%; 
   }
.item.w5{
  width:14%; 
 }
.item:hover {
    -webkit-transition-duration:0.1s;
    transition-duration: 0.1s;
    opacity:0.6;
    z-index: 1;
}
.item {position:relative;
  margin:1px;}

#animate-item-size-responsive .item-content {
  width:  15%;
  height: auto;
  background: #09D;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}
.animate-item-size-demo .item-content {
  background: #09D;
  transition: width 0.4s, height 0.4s;
  /* -webkit-transition -moz, etc, too */
}
